{
    "display": [
        77,
        73,
        82,
        65,
        73,
        46,
        56,
        55,
        51,
        56,
        54,
        50,
        46,
        48,
        48,
        49
    ],
    "product": [
        109,
        105,
        114,
        97,
        105
    ],
    "device": [
        109,
        105,
        114,
        97,
        105
    ],
    "board": [
        109,
        105,
        114,
        97,
        105
    ],
    "brand": [
        109,
        97,
        109,
        111,
        101
    ],
    "model": [
        109,
        105,
        114,
        97,
        105
    ],
    "bootloader": [
        117,
        110,
        107,
        110,
        111,
        119,
        110
    ],
    "fingerprint": [
        109,
        97,
        109,
        111,
        101,
        47,
        109,
        105,
        114,
        97,
        105,
        47,
        109,
        105,
        114,
        97,
        105,
        58,
        49,
        48,
        47,
        77,
        73,
        82,
        65,
        73,
        46,
        50,
        48,
        48,
        49,
        50,
        50,
        46,
        48,
        48,
        49,
        47,
        53,
        57,
        57,
        55,
        49,
        48,
        49,
        58,
        117,
        115,
        101,
        114,
        47,
        114,
        101,
        108,
        101,
        97,
        115,
        101,
        45,
        107,
        101,
        121,
        115
    ],
    "bootId": [
        48,
        51,
        54,
        53,
        70,
        56,
        50,
        51,
        45,
        65,
        48,
        56,
        56,
        45,
        54,
        49,
        70,
        70,
        45,
        56,
        51,
        56,
        55,
        45,
        69,
        51,
        65,
        66,
        66,
        54,
        55,
        52,
        52,
        70,
        52,
        68
    ],
    "procVersion": [
        76,
        105,
        110,
        117,
        120,
        32,
        118,
        101,
        114,
        115,
        105,
        111,
        110,
        32,
        51,
        46,
        48,
        46,
        51,
        49,
        45,
        56,
        78,
        73,
        114,
        70,
        69,
        90,
        57,
        32,
        40,
        97,
        110,
        100,
        114,
        111,
        105,
        100,
        45,
        98,
        117,
        105,
        108,
        100,
        64,
        120,
        120,
        120,
        46,
        120,
        120,
        120,
        46,
        120,
        120,
        120,
        46,
        120,
        120,
        120,
        46,
        99,
        111,
        109,
        41
    ],
    "baseBand": [
    ],
    "version": {
    },
    "simInfo": [
        84,
        45,
        77,
        111,
        98,
        105,
        108,
        101
    ],
    "osType": [
        97,
        110,
        100,
        114,
        111,
        105,
        100
    ],
    "macAddress": [
        48,
        50,
        58,
        48,
        48,
        58,
        48,
        48,
        58,
        48,
        48,
        58,
        48,
        48,
        58,
        48,
        48
    ],
    "wifiBSSID": [
        48,
        50,
        58,
        48,
        48,
        58,
        48,
        48,
        58,
        48,
        48,
        58,
        48,
        48,
        58,
        48,
        48
    ],
    "wifiSSID": [
        60,
        117,
        110,
        107,
        110,
        111,
        119,
        110,
        32,
        115,
        115,
        105,
        100,
        62
    ],
    "imsiMd5": [
        -108,
        2,
        -6,
        -18,
        -49,
        -118,
        -124,
        -128,
        95,
        85,
        83,
        93,
        94,
        118,
        115,
        94
    ],
    "imei": "476558488686691",
    "apn": [
        119,
        105,
        102,
        105
    ]
}